save-exact = true
registry=https://pkgs.dev.azure.com/nubulo/_packaging/VivatDigitalFunnels/npm/registry/
@vivat:registry=https://pkgs.dev.azure.com/nubulo/_packaging/VivatDigitalFunnels/npm/registry/